*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
}

main
{
  display: flex;
  justify-content: center;
}

.container
{
  margin-top: 10rem;
  width: 60vh;
  background-color: #fff;
  text-align: center;
  padding: 2rem;
  border-radius: 20px;
  border: 2px solid black;
}

.container_btn { 
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  color: white;
  background-color: blue;
  width: 100%;
}

.container_btn:nth-child(2) {
  background-color: brown;
}

.container_btn:nth-child(2):hover {
  background-color: chartreuse;
}


.container_btn:hover {
  background-color: green;
  color: whitesmoke;
  cursor: pointer;
}

article {
 display: flex;
 margin: 15px 0px 15px 0px;
 padding: 15px 10px 15px 10px;
 background-color: blueviolet;
 border-radius: 20px;
 color: #fff;
}

article:hover {
  background-color: brown;
}


.user_profile {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
}

.person div:nth-child(2)
{
  padding: 10px;
}

.person div:nth-child(2) h1 span
{
  color: aqua;
}

.container h3 {
  padding: 10px;
  background-color: aqua;
  color: brown;
  border-radius: 20px;
}

.note {
  margin: 10px;
}





